*{
  box-sizing:border-box;
  font-size:62.5%;


}

.list-container{
  margin-left:auto;
  margin-right:auto;
  width:100rem;
  margin-top:0.5rem;
  border: 1px solid gray;
  padding:1rem;

  
}



.list__title{
  font-size:1.7rem;
  text-align: center;
}

.list__item{
  width:100%;
  padding:0.5rem;
  margin-top:1rem;
  border:0.1rem solid black;

  display:inline-block;
  align-items: center;

  

}

.list__item__key{
  display:inline-block;
  width:10rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  margin-right:auto;

  
}

.list__item__key-array{
  background-color:aliceblue;
  padding:1rem;
  margin-top:1rem;
  
}

.list__item__key--array__member{
  margin-left:1rem;
  margin-top:1rem;
  font-size:1.2rem;
  
}

.title--small{
  font-size:1.4rem;
  font-weight:600;

}

.button{
  padding:0.5rem;
  border:0;
  font-size:1rem;
  cursor:pointer;


}
.button--delete--right{
  background-color: red;
  color:white;
 
  float:right;
  margin-left:1rem;
}

.button--edit--right{
  background-color: rgb(46, 172, 46);
  color:white;

  float:right;

  
  margin-left:1rem;

}

.button--add{
  background-color: rgb(26, 187, 26);
  color:white;
  
 
}

